In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
# Specifying file path
file_path="Resources/purchase_data.csv"

In [3]:
# Read purchase_data file and stores into pandas data frame
purchase_read=pd.read_csv(file_path, delimiter=',').copy()
players_df = pd.DataFrame(purchase_read).copy()
players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display of total number of players in a data frame
uniq_players=len(players_df["SN"].unique())
total_players=pd.DataFrame({"Total Players":[uniq_players]})
total_players

   Total Players
0            576

In [41]:
# Printing number of unique items, average price, total purchase and total revenue
uniq_items=len(players_df["Item ID"].unique())
avg_price=round(players_df["Price"].mean(),2)
total_purchase=players_df["Purchase ID"].count()
total_revenue=players_df["Price"].sum()
purchase_analysis=pd.DataFrame({"Number of Unique Items":[uniq_items], "Average Price":[avg_price], 
              "Total Purchase":[total_purchase], "Total Revenue":[total_revenue]})
purchase_analysis.style.format({'Average Price': "${0:.2f}", "Total Revenue":"${0:.2f}"})

In [17]:
# # Gender Demographics
# gender_df
dup_drop_sn=players_df.drop_duplicates(['SN'])
gender_demo=dup_drop_sn.groupby('Gender')
total_count=gender_demo['Gender'].count()
demo_total=total_count.sum()
# demo_total
gender_demo_df=pd.DataFrame({"Total Count":total_count, 
                             "Percentage of Players":total_count/demo_total*})
gender_demo_df.style.format({'Percentage of Players': "{0:.2%}"})

In [7]:
# Purchasing analysis (Gender)
male_players=players_df.loc[players_df["Gender"]=="Male",:]
# count of male players with reference to column SN and len funtion
male_players_count=len(male_players['SN'].unique())                                        
female_players=players_df.loc[players_df["Gender"]=="Female",:]
female_players_count=len(female_players['SN'].unique())
other_players=players_df.loc[players_df["Gender"]=="Other / Non-Disclosed",:]
other_players_count=len(other_players['SN'].unique())

male_purchase_count=len(male_players['Purchase ID'].unique())
female_purchase_count=len(female_players['Purchase ID'].unique())
other_purchase_count=len(other_players['Purchase ID'].unique())
male_tot_purchase=male_players['Price'].sum()
female_tot_purchase=female_players['Price'].sum()
other_tot_purchase=other_players['Price'].sum()

# purchasing analysis dataframe(Gender)
purchase_df=pd.DataFrame({'Purchase Count':[male_purchase_count,female_purchase_count,other_purchase_count],
                         'Average Purchase Price':['${0:.2f}'.format(male_tot_purchase/male_purchase_count),
                                                   '${0:.2f}'.format(female_tot_purchase/female_purchase_count),
                                                   '${0:.2f}'.format(other_tot_purchase/other_purchase_count)],
                          'Total Purcase Value':[male_tot_purchase,female_tot_purchase,other_tot_purchase],
                          'Avg Total Purchase Per Person':['${0:.2f}'.format(male_tot_purchase/male_players_count),
                                                           '${0:.2f}'.format(female_tot_purchase/female_players_count),
                                                           '${0:.2f}'.format(other_tot_purchase/other_players_count)]})

# Set index as per the output
purchase_df.set_index([pd.Index(['Male', 'Female', 'Other / Non-Disclosed'])])

,Purchase Count,Average Purchase Price,Total Purcase Value,Avg Total Purchase Per Person
Male,652,$3.02,1967.64,$4.07
Female,113,$3.20,361.94,$4.47
Other / Non-Disclosed,15,$3.35,50.19,$4.56

In [8]:
# Age Demographics
# bins/buckets for groupig data
bins=[0,9,14,19,24,29,34,39,100]
# labels in accordance with the bin values
age_group=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'] 
# pd.cut is used to cut data with bin values
players_df['Age Ranges']=pd.cut(players_df.Age, bins, labels=age_group) 
# dataframe is rearranging based "SN" values
age_demo=players_df.drop_duplicates(['SN']) 
# data values sorted with Age and then arranged by groupby and count functions
df=age_demo.sort_values('Age').groupby('Age Ranges').count() 
# A new dataframe is created to the desired output
df=pd.DataFrame({"Count":(df.Age), 'Percentage of Players':(df.Age/576)})
# style formatting into percentage
df.style.format({'Percentage of Players': "{0:.2%}"})

In [21]:
# sort dataframe by Age and group by Age Ranges
age_ranges=players_df.sort_values('Age').groupby('Age Ranges').count()
# purchase_count=pd.DataFrame({"Purchase Count":(age_ranges.Age)})
purchase_count=age_ranges.Age
# average purchase price 
pur_analysis=players_df.sort_values('Age').groupby('Age Ranges')
avg_purchase_price=pur_analysis.Price.mean()
# total purchase price
tot_purchase_price=pur_analysis.Price.sum()

# average total purchase per person
# duplicate drop based column SN and sorting and grouping to get the count in ranges
tot_uniq_person=players_df.drop_duplicates(['SN'])
uniq_person_grp=tot_uniq_person.sort_values('Age').groupby('Age Ranges')
# finding the the count in ranges based on 'Purchase ID'
range_person_count=uniq_person_grp['Purchase ID'].count()
# finding the average
avg_purchase_per_person=tot_purchase_price/range_person_count

# purchase analysis(age) dataframe
purchase_analysis=pd.DataFrame({"Purchase Count":age_ranges.Age, "Average Purchase Price":
                            avg_purchase_price, "Total Purchase Value":tot_purchase_price,
                               "Avg Total Purchase Per Person":avg_purchase_per_person})

# Style formating the dataframe
purchase_analysis.style.format({'Average Purchase Price': "${0:.2f}", "Total Purchase Value":"${0:.2f}",
                               "Avg Total Purchase Per Person":"${0:.2f}"})

In [35]:
# Top spenders
# group dataframe based on column SN
group_sn = players_df.groupby('SN')
# finding grouped price sum
p_value=group_sn.Price.sum()
# purchase count of top spenders
p_count=group_sn['Item ID'].count()

# top spenders datafram
top_spenders=pd.DataFrame({"Purchase Count":p_count,"Average Purchase Price":p_value/p_count,"Total Purchase Value":p_value})

# style formatting dataframe in the descending order
top_spenders.sort_values(by=['Total Purchase Value'],ascending=False).head().style.format({
    'Average Purchase Price': "${0:.2f}", "Total Purchase Value":"${0:.2f}"})

In [36]:
# Most popular items
# Retrieve the Item ID, Item Name, and Item Price columns
item_df=players_df[['Item ID', 'Item Name', 'Price']]
# Group by Item ID and Item Name
item_group=item_df.groupby(['Item ID', 'Item Name'])
# purchase count calculated by Item ID
phs_count=item_group['Item ID'].count()
# purchase sum calculated by Price
phs_value=item_group['Price'].sum()

# Most popular items dataframe
most_pop_items=pd.DataFrame({"Purchase Count":phs_count, "Item Price":round(phs_value/phs_count,2),
                             "Total Purchase Value":phs_value})
# Rearranging dataframe based on purchase count
most_pop_items.sort_values(by=['Purchase Count'],ascending=False).head().style.format({
    'Item Price': "${0:.2f}", "Total Purchase Value":"${0:.2f}"})

In [37]:
# Most pofitable items
# Rearranging the above table based on Total Purchase Value
most_pop_items.sort_values(by=['Total Purchase Value'],ascending=False).head().style.format({
    'Item Price': "${0:.2f}", "Total Purchase Value":"${0:.2f}"})