In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
# Specifying file path
file_path="Resources/purchase_data.csv"

In [3]:
# Read purchase_data file and stores into pandas data frame
purchase_read=pd.read_csv(file_path, delimiter=',')

# Copy of dataframe created to keep the original in its own
players_df = purchase_read.copy()
gender_df= purchase_read.copy()
players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Unique value of SN gives total number of players
uniq_players=len(players_df["SN"].unique())

# Display of total number of players in a data frame
total_players=pd.DataFrame({"Total Players":[uniq_players]})
total_players

   Total Players
0            576

In [5]:
# Length of series of Item Id unique value is equal to number of unique items
uniq_items=len(players_df["Item ID"].unique())

# Calculating average of Price
avg_price=round(players_df["Price"].mean(),2)

# Counting purchase id gives total purchase
total_purchase=players_df["Purchase ID"].count()

# Sum of Price series gives total revenue
total_revenue=players_df["Price"].sum()

# Dataframe created for the disired output
purchase_analysis=pd.DataFrame({"Number of Unique Items":[uniq_items],
                                "Average Price":[avg_price],"Total Purchase":[total_purchase],
                                "Total Revenue":[total_revenue]})

# Style formatting the dataframe
purchase_analysis.style.format({'Average Price': "${0:.2f}", "Total Revenue":"${0:.2f}"})

In [6]:
# Gender Demographics

# Duplicates are droping the SN column
dup_drop_sn=players_df.drop_duplicates(['SN'])

# Grouping based on gender with above series
gender_demo=dup_drop_sn.groupby('Gender')

# Gender count from grouped data
total_count=gender_demo['Gender'].count()

# Calculating total players using the sum function
demo_total=total_count.sum()

# New dataframe created for the gender demographics
gender_demo_df=pd.DataFrame({"Total Count":total_count, 
                             "Percentage of Players":total_count/demo_total})

# Style formatting to get two decimal places with percentage sign
gender_demo_df.style.format({'Percentage of Players': "{0:.2%}"})

In [7]:
# Calculating purchasing analysis (Gender)

# Copied from the original dataframe
gender_df

# Calculating gender purchase count
purchase_count = gender_df.groupby("Gender")['Purchase ID'].count()

# Calculating total purchase value
tot_purchase_value=gender_df.groupby("Gender")['Price'].sum()

# Calculating average purchase price
avg_purch_price=tot_purchase_value/purchase_count

# Calculating uniq SN count group by Gender
uniq_sn_count=gender_df.groupby('Gender')['SN'].nunique()

# Calculating average total purchase per person
avg_tot_purch_per_person=tot_purchase_value/uniq_sn_count

# Dataframe for the desired tabular output
purchase_df=pd.DataFrame({'Purchase Count':purchase_count,
                         'Average Purchase Price':avg_purch_price,
                          'Total Purchase Value':tot_purchase_value,
                          'Avg Total Purchase Per Person':avg_tot_purch_per_person})

# Style formating the dataframe
purchase_df.style.format({'Average Purchase Price': "${0:.2f}",
                                "Total Purchase Value":"${0:.2f}",
                                "Avg Total Purchase Per Person":"${0:.2f}"})

In [14]:
# Calculating age Demographics of players

# Bins/buckets for groupig data
bins=[0,9,14,19,24,29,34,39,100]

# Labels in accordance with the bin values
age_group=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# pd.cut is used to cut data with bin values
players_df['Age Ranges']=pd.cut(players_df.Age, bins, labels=age_group)

# Data cleaning based "SN" values
age_demo=players_df.drop_duplicates(['SN'])

# Values sorted based on Age and then grouping by age ranges and count functions
age_demographics_df=age_demo.sort_values('Age').groupby('Age Ranges').count() 

# A new dataframe is created for the age demographics
age_demographics_df=pd.DataFrame({"Count":(age_demographics_df.Age), 
                                  'Percentage of Players':(age_demographics_df.Age/576)})

# Style formatting into percentage
age_demographics_df.style.format({'Percentage of Players': "{0:.2%}"})

In [16]:
# Calculating purchasing analysis by age

# Above Dataframe players_df is copied to get the bin cut effect.
purchase_age_analysis_df=players_df.copy()

# Sorting dataframe by Age and grouping by Age Ranges
age_ranges=purchase_age_analysis_df.sort_values('Age').groupby('Age Ranges').count()

# Calculating purchase count with age
purchase_count=age_ranges.Age

# Calculating average purchase price 
pur_analysis=purchase_age_analysis_df.sort_values('Age').groupby('Age Ranges')
avg_purchase_price=pur_analysis.Price.mean()

# Calculating total purchase price
tot_purchase_price=pur_analysis.Price.sum()

# Average total purchase per person
# Droping duplicates of column SN and sorting and grouping to get the count
tot_uniq_person=purchase_age_analysis_df.drop_duplicates(['SN'])

# Value sorting and grouping
uniq_person_grp=tot_uniq_person.sort_values('Age').groupby('Age Ranges')

# Finding the the count in ranges based on 'Purchase ID'
range_person_count=uniq_person_grp['Purchase ID'].count()

# Finding the average purchase per person
avg_purchase_per_person=tot_purchase_price/range_person_count

# Purchase analysis(age) dataframe
purchase_analysis=pd.DataFrame({"Purchase Count":purchase_count,
                                "Average Purchase Price":avg_purchase_price,
                                "Total Purchase Value":tot_purchase_price,
                                "Avg Total Purchase Per Person":avg_purchase_per_person})

# Style formating the dataframe
purchase_analysis.style.format({'Average Purchase Price': "${0:.2f}",
                                "Total Purchase Value":"${0:.2f}",
                                "Avg Total Purchase Per Person":"${0:.2f}"})

In [17]:
# Calculating top spenders

# Grouping based on column SN
group_sn = players_df.groupby('SN')

# Calculating the sum of Price
p_value=group_sn.Price.sum()

# Purchase count of top spenders
p_count=group_sn['Item ID'].count()

# Top spenders datafram
top_spenders=pd.DataFrame({"Purchase Count":p_count,
                           "Average Purchase Price":p_value/p_count,
                           "Total Purchase Value":p_value})

# Style formatting the dataframe in the descending order of Total Purchase Value
top_spenders.sort_values(by=['Total Purchase Value'],ascending=False
                        ).head().style.format({'Average Purchase Price': "${0:.2f}",
                                               "Total Purchase Value":"${0:.2f}"})

In [12]:
# Calculating most popular items

# Retrieve the Item ID, Item Name, and Item Price columns
item_df=players_df[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name
item_group=item_df.groupby(['Item ID', 'Item Name'])

# purchase count calculated by Item ID
phs_count=item_group['Item ID'].count()

# purchase sum calculated by Price
phs_value=item_group['Price'].sum()

# Most popular items dataframe
most_pop_items=pd.DataFrame({"Purchase Count":phs_count,
                             "Item Price":round(phs_value/phs_count,2),
                             "Total Purchase Value":phs_value})

# Rearranging dataframe based on purchase count and style formatting to get two decimal places with $ sign
most_pop_items.sort_values(by=['Purchase Count'],ascending=False
                          ).head().style.format({'Item Price': "${0:.2f}",
                                                 "Total Purchase Value":"${0:.2f}"})

In [13]:
# Calculating most pofitable items

# New dataframe based on Total Purchase Value and style formatting to get two decimal places with $ sign
most_pop_items.sort_values(by=['Total Purchase Value'],ascending=False
                          ).head().style.format({'Item Price': "${0:.2f}",
                                                 "Total Purchase Value":"${0:.2f}"})