In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
# Referencing file paths to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read school and student data files and stores into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Calculating total number of schools
tot_schools=school_data["School ID"].count()

# Calculating total number of students
tot_students=school_data["size"].sum()

# Calculating total budget
tot_budget="${:,.2f}".format(school_data["budget"].sum())

In [5]:
# Combining two datasets into a single dataset.  
clean_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"]).copy()
clean_school_data.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [6]:
# calculate average math score
avg_math_score=round(clean_school_data.math_score.mean(),6)

# calculate average reading score
avg_read_score=round(clean_school_data.reading_score.mean(),5)

# calculate percentage of passing math
perc_pass_math=round(len(clean_school_data.loc[clean_school_data['math_score']>=70])/tot_students,8)

# calculate percentage of passing reading 
perc_pass_read=round(len(clean_school_data.loc[clean_school_data['reading_score']>=70])/tot_students,8)

# calculate percentage of passing math and reading
perc_overall_pass=round(len(clean_school_data.loc[(clean_school_data['reading_score']>=70) & 
                                            (clean_school_data['math_score']>=70)])/tot_students,8)

# New dataframe for District Summary
dist_summary_df=pd.DataFrame({"Total Schools":[tot_schools], "Total Students":[tot_students], "Total Budget":[tot_budget],
                "Average Math Score":[avg_math_score], "Average Reading Score":[avg_read_score],
                "% Passing Math":[perc_pass_math*100], "% Passing Reading":[perc_pass_read*100],
                "% Overall Passing":[perc_overall_pass*100]})
dist_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [10]:
# School Summary
school_names=clean_school_data.groupby(['school_name'])
# extracting school type from the grouped school names
school_type=school_names.type.unique()

# total students each school
tot_studin_school=school_names['Student ID'].count()

# total budget of each school
tot_school_budget=school_names['budget'].mean()

# per student budget of each school
per_stud_budget=tot_school_budget/tot_studin_school

# average math score of each school
avg_school_math_score=school_names['math_score'].mean()

# average reading score of each school
avg_school_read_score=school_names['reading_score'].mean()

# Passing score is 70 or greater
# Math percentage of each school >= 70
pass_math=clean_school_data.loc[clean_school_data['math_score']>=70]

# Grouping dataframe by school_name
math_school=pass_math.groupby(['school_name']).count()

# Finding values by school_name
school_students=clean_school_data['school_name'].value_counts()

# Percentage of math pass is calculating
math_perc_pass=(math_school.math_score/school_students)*100

# Reading percentage of each school >= 70
pass_read=clean_school_data.loc[clean_school_data['reading_score']>=70]

read_school=pass_read.groupby(['school_name']).count()
read_perc_pass=(read_school.reading_score/school_students)*100

# Percentage of students that passed math and reading
overall_pass=clean_school_data.loc[(clean_school_data['reading_score']>=70) & 
                                            (clean_school_data['math_score']>=70)]
overall_school=overall_pass.groupby(['school_name']).count()
overall_perc_pass=(overall_school['math_score'] & overall_school['reading_score'])/school_students*100

# New dataframe for school summary
school_summary = pd.DataFrame({
    "Student Count":tot_studin_school,
    "School Type":school_type, 
    "School Budget":tot_school_budget, 
    "Per Student Budget":per_stud_budget,
    "Ave Math Score":avg_school_math_score, 
    "Ave Reading Score":avg_school_read_score, 
    "% Passing Math":math_perc_pass, 
    "% Passing Reading":read_perc_pass,
    "Overall Passing Rate":overall_perc_pass})

scl_summary=school_summary.copy()
school_sumry=school_summary.copy()
scl_sumry=school_summary.copy()

# Style formating school summary dataframe
school_summary.style.format({'School Budget':"${0:.2f}", 'Per Student Budget':"${0:.2f}"})

In [13]:
# Calculating top five performaing schools (by percentage of passing)
top_perform_schools = school_summary.sort_values('Overall Passing Rate', ascending=False)

# Style formating school summary dataframe
top_perform_schools.style.format({'School Budget':"${0:.2f}", 'Per Student Budget':"${0:.2f}"})

In [14]:
# Calculating five worst performaing schools (by percentage of passing)
worst_perform_schools = school_summary.sort_values('Overall Passing Rate')

# Style formating worst perform dataframe
worst_perform_schools.style.format({'School Budget':"${0:.2f}", 'Per Student Budget':"${0:.2f}"})

In [9]:
# Calculating math score by grade

# Create series of 9th, 10th, 11th, 12th grade
ninth_grade=clean_school_data.loc[clean_school_data.grade == '9th']
tenth_grade=clean_school_data.loc[clean_school_data.grade == '10th']
eleventh_grade=clean_school_data.loc[clean_school_data.grade == '11th']
twelth_grade=clean_school_data.loc[clean_school_data.grade == '12th']

# Grouping combined data by school name
ninth_grade_avg = ninth_grade.groupby("school_name").mean()
tenth_grade_avg = tenth_grade.groupby("school_name").mean()
eleventh_grade_avg = eleventh_grade.groupby("school_name").mean()
twelth_grade_avg = twelth_grade.groupby("school_name").mean()

# New dataframe for math score by grade
school_math_score=pd.DataFrame({"9th":ninth_grade_avg.math_score, "10th":tenth_grade_avg.math_score,
                                "11th":eleventh_grade_avg.math_score, "12th":twelth_grade_avg.math_score})
school_math_score

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [10]:
# Calculations exactly same as above math score by grade

# New dataframe for reading score by grade
school_reading_score=pd.DataFrame({"9th":ninth_grade_avg.reading_score, "10th":tenth_grade_avg.reading_score,
                                "11th":eleventh_grade_avg.reading_score, "12th":twelth_grade_avg.reading_score})
school_reading_score

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [11]:
# Scores by school spending

# Bins and Labels are creating to cut data into different fragments
bins=[0, 583, 630, 645, 675]

# Labels for binning 
labels=['<$584', '$585-629', '$630-644', '$645-675']

# School spending per student formatting from the school_summary dataframe using cut function
school_sumry['School Spending(Per Student)']=pd.cut(school_sumry['Per Student Budget'], bins, labels=labels, 
                                         include_lowest=True, right=True)

# Dataframe is grouping by School Spending (per Student) and calculating using mean function
school_spending=school_sumry.groupby(by='School Spending(Per Student)').mean()

# New dataframe for scores by school spending
school_spending=pd.DataFrame({"Average Math Score":round(school_spending['Ave Math Score'],2),
                             "Average Reading Score":round(school_spending['Ave Reading Score'],2),
                             "% Passing Math":round(school_spending['% Passing Math'],2),
                             "% Passing Reading":round(school_spending['% Passing Reading'],2),
                             "% Overall Passing":round(school_spending['Overall Passing Rate'],2)})
school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Spending(Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

In [12]:
# Scores by school size

# Bins and Labels are creating to cut data into different fragments
bins=[0, 1000, 2000, 5000]

# Labels for binning 
labels=['Samll(<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

# Scores by school size is formatting by scl_summary dataframe using cut function
scl_summary['School Size']=pd.cut(scl_summary['Student Count'], bins, labels=labels, 
                                         include_lowest=True, right=True)

# Dataframe is grouping by School Size and calculating the mean
school_size=scl_summary.groupby(by='School Size').mean()

# New dataframe for scores by school size
school_size=pd.DataFrame({"Average Math Score":school_size['Ave Math Score'],
                             "Average Reading Score":school_size['Ave Reading Score'],
                             "% Passing Math":school_size['% Passing Math'],
                             "% Passing Reading":school_size['% Passing Reading'],
                             "% Overall Passing":school_size['Overall Passing Rate']})
school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Samll(<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [13]:
# Scores by school type

# Bins and Labels are creating to cut data into different fragments
bins=[0, 2500, 5000]

# Labels for binning 
labels=['Charter', 'District']

# Scores by school type is formatting by scl_summary dataframe using cut function
scl_sumry['School Type']=pd.cut(scl_sumry['Student Count'], bins, labels=labels,
                               include_lowest=False, right=False) 
                                         
# Dataframe is grouping by School Type and calculating the mean
school_type=scl_sumry.groupby(by='School Type').mean()

# New dataframe for scores by school type
school_type=pd.DataFrame({"Average Math Score":school_type['Ave Math Score'],
                             "Average Reading Score":school_type['Ave Reading Score'],
                             "% Passing Math":school_type['% Passing Math'],
                             "% Passing Reading":school_type['% Passing Reading'],
                             "% Overall Passing":school_type['Overall Passing Rate']})
school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208